:root {
  --serif: "Merriweather", "Georgia", serif;
  --sans-serif: sans-serif;
  --mono: "IBM Plex Mono", monospace;

  /* https://www.boisestate.edu/brand/visual-identity/colors/ */
  --blue: #0033A0;
  --orange: #D64309;

  --highlight-yellow: #ccff1555;
  --highlight-blue: #55aaff33;
  --highlight-green: #00ff0044;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  color: black;
  font-family: var(--mono);
  width: 600px;
  max-width: 100%;
  margin-bottom: 100px;
}

body > a {
  margin-top: 50px;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--mono);
  color: black;
}

h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  cursor: pointer;
}

h2:hover::after,
h3:hover::after,
h4:hover::after,
h5:hover::after,
h6:hover::after {
  content: ' #';
}

h2,
hr {
  margin-top: 2rem;
}

p,
li,
p a {
  line-height: 1.75rem;
}

li p {
  margin-top: 0;
  padding-bottom: 5px;
}

p:last-child,
li:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--blue); 
}

img {
  width: 640px;
  max-width: 100%;
}

img.profile {
  width: 200px;
}

table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 5px;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

td:first-child {
  white-space: nowrap;
}

td[colspan="3"] {
  font-style: italic;
  text-align: center;
}

td:nth-child(2) {
  text-align: end;
}

tr.part-i {
  background-color: var(--highlight-yellow);
}

tr.part-ii {
  background-color: var(--highlight-blue);
}

tr.part-iii {
  background-color: var(--highlight-green);
}

blockquote {
  margin-inline-start: 16px;
  margin-block: 32px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-left: 4px solid grey;
  border-radius: 8px;
  background-color: #80808022;
}

blockquote > p:first-child {
  margin-top: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    margin: 15px;
    max-width: calc(100% - 30px);
  }

  h2 {
    margin-top: 45px;
  }

  body > a {
    margin-top: 20px;
  }
}
